
.bar {
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.bar.open {
    display: block;
}

@media (max-width: 768px) {
    .bar {
        display: none;
    }

    .bar.open {
        display: block;
    }
}
