DOMAIN=localhost

ENVIRONMENT=local

PROJECT_NAME="Sportify Full Stack FastAPI Project"
STACK_NAME=sportify-full-stack-fastapi-project

POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

JWT_SECRET_KEY="your_secret_key"
JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
