.feed {
    background-color: var(--ghost-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.content-div {
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    width: calc(100% - 250px);
}

.main-content {
    flex: 2;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 9vw;
}

.ssbar-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
}

.ssbar-container .bar {
    width: 100%;
    max-width: 400px; /* Adjust based on your design */
}


/* Media query za tablete */
@media (max-width: 1024px) and (min-width: 769px) {
    .content-div {
        margin-left: 80px;
        width: calc(100% - 80px);
    }

    .main-content {
        margin-left: 5vw;
    }

    .ssbar-container {
        justify-content: center;
    }
}

/* Media query za telefon */
@media (max-width: 768px) {
    .content-div {
        flex-direction: column;
        margin-left: 0;
        width: 100%;
    }

    .main-content {
        margin: auto;
        justify-content: center;
    }

    .ssbar-container {
        justify-content: center;
    }
}

