.event-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 16px;
  max-width: 600px;
  transition: box-shadow 0.2s;
}

.event-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.event-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}


/* zaglavlje */
.profilna-slika {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dbdbdb; /* Placeholder color, replace with actual image */
    margin-right: 10px;
}

.event-card-header .username {
    font-size: 1.3vw;
    width: 50%;
    height: 2vw;
    font-weight: 600;
    color: var(--pear);
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}

/* body */
.event-card-body {
    padding: 10px;
}

.slika-oglasa {
    width: 100%;
    height: auto;
    max-height: 400px;
    background-color: #65676b; /* Placeholder color, replace with actual image */
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.slika-oglasa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-card-body h1 {
    font-size: 18px;
    font-weight: 700;
    color: #262626;
    margin: 5px 0;
}

.event-card-body h2 {
    font-size: 16px;
    font-weight: 600;
    color: #8e8e8e;
    margin: 5px 0;
}

.event-card-body .datum,
.event-card-body .vreme {
    font-size: 14px;
    color: #8e8e8e;
}

.event-card .prijava-na-termin {
    width: 100%;
    padding: 10px;
    background-color: #D8ED0F;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.opis-termina {
    padding-top: 2vh;
    padding-bottom: 2vh;
    align-content: center;
    font-size: medium;
}

.br-slobodnih-mjesta {
    font-weight: bold;
}

.event-card .prijava-na-termin:hover {
    background-color: #D8ED0A;
}

.event-card .dugme {
    width: 100%;
    padding: 10px;
    background-color: var(--lapis-lazuli);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.event-card .dugme:hover {
    background-color: #007bb5;
}
