/* Stilovi za SuggestedForYou */
.suggested-container {
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.suggested-container h1 {
    font-size: 1.5em;
    color: var(--oxion);
    letter-spacing: 1px;
    margin-bottom: 10px;
}


